<p style="color: green"><%= notice %></p>
<h1>Animales</h1>
<div class="table-responsive" id="animals">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Granja</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.id%></td>
          <td><%= animal.name%></td>
          <td><%= animal.farmer.name%></td>
          <td><%= animal.farmer.farm.name%></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to "Mostrar", animal,class:'btn btn-outline-primary btn-sm' %>
              <%= link_to "Editar", edit_animal_path(animal), class:"btn btn-outline-success btn-sm" %>
              <%= button_to "Eliminar", animal, method: :delete, class:"btn btn-outline-danger btn-sm" %>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <br>
</div>
<%= link_to "Nuevo animal", new_animal_path, class:"btn btn-outline-warning btn-lg" %>
